{% extends "exc/body.html" %} 
{% block content %}   
    {% load static %}
            <!-- Blog List Start -->
        {% for blog in blogs %}
        <div class="container bg-white pt-5">
            <div class="row blog-item px-3 pb-5">
                <div class="col-md-5">
                    <img  class="img-fluid mb-4 mb-md-0" src="{{ blog.photo.url }}" alt="Image" style="width: 273px; height: 218px; object-fit: cover;">
                </div>
                <div class="col-md-7">
                    <h3 class="mt-md-4 px-md-3 mb-2 py-2 bg-white font-weight-bold">{{ blog.title }}</h3>
                    <div class="d-flex mb-3">
                        <small class="mr-2 text-muted"><i class="fa fa-calendar-alt"></i> {{ blog.data }}</small>
                        <small class="mr-2 text-muted"><i class="fa fa-folder"></i> {{ blog.topic }}</small>
                        <small class="mr-2 text-muted"><i class="fa fa-comments"></i> 15 Comments</small>
                    </div>
                    <p>
                        {{ blog.caption }}
                    </p>
                    <a class="btn btn-link p-0" href="{% url 'blogdetail' blog.id %}">Read More <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- Blog List End -->
        
        
        {% comment %} <!-- Subscribe Start -->
        <div class="container py-5 px-4 bg-secondary text-center">
            <h1 class="text-white font-weight-bold">Subscribe My Newsletter</h1>
            <p class="text-white">Subscribe and get my latest article in your inbox</p>
            <form class="form-inline justify-content-center">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Your Email">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Subscribe</button>
                    </div>
                    </div>
            </form>
        </div>
        <!-- Subscribe End -->
            {% endcomment %}
        
            {% include "exc/footer.html" %}
    
    
        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>

    {% endblock %}  